<app-navbar></app-navbar>
<br>
<app-inventario-list></app-inventario-list>
<!-- <div class="container">
    <h1 class="mt-5"></h1>
    <form action="procesar_envio.php" method="POST">
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="id" class="form-label">ID:</label>
                    <input type="text" class="form-control" id="id" name="id">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="model" class="form-label">Modelo:</label>
                    <input type="text" class="form-control" id="model" name="model">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="salesSample" class="form-label">Muestra de Ventas:</label>
                    <input type="text" class="form-control" id="salesSample" name="salesSample">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="sourcingTrackingNumber" class="form-label">Número de Seguimiento:</label>
                    <input type="text" class="form-control" id="sourcingTrackingNumber" name="sourcingTrackingNumber">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="warrant" class="form-label">Garantía:</label>
                    <input type="text" class="form-control" id="warrant" name="warrant">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="originCountry" class="form-label">País de Origen:</label>
                    <input type="text" class="form-control" id="originCountry" name="originCountry">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="destinationCountry" class="form-label">País de Destino:</label>
                    <input type="text" class="form-control" id="destinationCountry" name="destinationCountry">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="warehouse" class="form-label">Almacén:</label>
                    <input type="text" class="form-control" id="warehouse" name="warehouse">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="timeOfArrival" class="form-label">Fecha de Llegada:</label>
                    <input type="datetime-local" class="form-control" id="timeOfArrival" name="timeOfArrival">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="currentLocation" class="form-label">Ubicación Actual:</label>
                    <input type="text" class="form-control" id="currentLocation" name="currentLocation">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="incoterm" class="form-label">Incoterms:</label>
                    <input type="text" class="form-control" id="incoterm" name="incoterm">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="containerNumber" class="form-label">Número de Contenedor:</label>
                    <input type="text" class="form-control" id="containerNumber" name="containerNumber">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div> -->