<app-navbar></app-navbar>
<br />
<div class="surface-card p-4 shadow-8 border-round">
  <div class="flex flex-column md:flex-row">
    <div
      class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5"
    >
      <div class="p-inputgroup">
        <input
          pInputText
          placeholder="Nombre o Razón social"
          [(ngModel)]="client.Nombre"
        />
      </div>
      <div class="p-inputgroup">
        <input
          type="text"
          pInputText
          placeholder="DNI / NIF"
          [(ngModel)]="client.Identificacion"
        />
      </div>
      <div class="p-inputgroup">
        <input
          type="text"
          pInputText
          placeholder="Dirección"
          [(ngModel)]="client.Direccion"
        />
      </div>
      <div class="footer flex justify-content-end">
        <p-button
          class="m-2"
          label="Save"
          [outlined]="true"
          (onClick)="Save()"
        ></p-button>
      </div>
    </div>

    <div class="w-full md:w-2">
      <p-divider layout="vertical" styleClass="hidden md:flex"
        ><b></b
      ></p-divider>
      <p-divider
        layout="horizontal"
        styleClass="flex md:hidden"
        [align]="'center'"
        ><b></b
      ></p-divider>
    </div>
    <p-table [value]="listClient" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="caption">
        <br />
        <div class="flex align-items-center justify-content-between">
          <button
            pButton
            type="button"
            icon="pi pi-arrow-left"
            label="Back"
            class="mr-2"
            pTooltip="Back to Inventory"
            (click)="backToInventory()"
            tooltipPosition="bottom"
          ></button>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Nombre o razón social</th>
          <th>DNI / NIF</th>
          <th>Dirección</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-listClient>
        <tr>
          <td>{{ listClient.nombre }}</td>
          <td>{{ listClient.identificacion }}</td>
          <td>{{ listClient.direccion }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
