

  <div class="flex overflow-hidden">
    <div class="flex-none flex align-items-center justify-content-center  font-bold m-2 px-5 py-3 border-round">
      <div class="container-fluid">
        <img src="../../../assets/img/logo.png" alt="Logo" style="max-height: 100px" />
      
      </div>
    </div>
    <div
      class="flex-grow-1 flex align-items-center justify-content-center  font-bold m-2 px-5 py-3 border-round">
      <h2>Gaia Cacao</h2>
    </div>
    <div class="flex-none flex align-items-center justify-content-center font-bold m-2 px-5 py-3 border-round">
      <form class="d-flex" role="search">
        <button pButton class="btn btn-outline-secondary" onclick="logout()">Logout</button>
      </form>
    </div>
  </div>