<!-- <div class="p-grid">
    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="Model">Model</label>
            <input pInputText id="Model" name="Model" [(ngModel)]="newItem.model" />
        </div>
        <div class="flex flex-column gap-2 p-1">
            <label for="SalesSample">Sales Sample</label>
            <input type="text" id="SalesSample" name="SalesSample" pInputText [(ngModel)]="newItem.salesSample">
        </div>
        <div class="flex flex-column gap-2 p-1">
            <label for="SourcingTrackingNumber">Tracking Number</label>
            <input type="text" id="SourcingTrackingNumber" name="SourcingTrackingNumber" pInputText
                [(ngModel)]="newItem.sourcingTrackingNumber">
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="Warrant">Warrant</label>
            <input type="text" id="Warrant" name="Warrant" pInputText [(ngModel)]="newItem.warrant">
        </div>
        <div class="flex flex-column gap-2 p-1">
            <label for="OriginCountry">Origin Country</label>
            <input type="text" id="OriginCountry" name="OriginCountry" pInputText [(ngModel)]="newItem.originCountry">
        </div>
        <div class="flex flex-column gap-2 p-1">
            <label for="DestinationCountry">Destination Country</label>
            <input type="text" id="DestinationCountry" name="DestinationCountry" pInputText
                [(ngModel)]="newItem.destinationCountry">
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="Warehouse">Warehouse</label>
            <input type="text" id="Warehouse" name="Warehouse" pInputText [(ngModel)]="newItem.warehouse">
        </div>
        <div class="flex flex-column gap-2 p-1">
            <label for="TimeOfArrival">Time of Arrival</label>
            <input type="text" id="TimeOfArrival" name="TimeOfArrival" pInputText [(ngModel)]="newItem.timeOfArrival">
        </div>
        <div class="flex flex-column gap-2 p-1">
            <label for="CurrentLocation">Current Location</label>
            <input type="text" id="CurrentLocation" name="CurrentLocation" pInputText
                [(ngModel)]="newItem.currentLocation">
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="Incoterm">Incoterm</label>
            <input type="text" id="Incoterm" name="Incoterm" pInputText [(ngModel)]="newItem.incoterm">
        </div>
        <div class="flex flex-column gap-2 p-1">
            <label for="ContainerNumber">Container Number</label>
            <input type="text" id="ContainerNumber" name="ContainerNumber" pInputText
                [(ngModel)]="newItem.containerNumber">
        </div>
    </div>
</div> -->


<div class="p-grid">
    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="Model">Model</label>
            <input pInputText id="Model" name="Model" [(ngModel)]="newItem.model" />
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="SalesSample">Sales Sample</label>
            <input type="text" id="SalesSample" name="SalesSample" pInputText [(ngModel)]="newItem.salesSample">
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="SourcingTrackingNumber">Tracking Number</label>
            <input type="text" id="SourcingTrackingNumber" name="SourcingTrackingNumber" pInputText
                [(ngModel)]="newItem.sourcingTrackingNumber">
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="Warrant">Warrant</label>
            <input type="text" id="Warrant" name="Warrant" pInputText [(ngModel)]="newItem.warrant">
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="OriginCountry">Origin Country</label>
            <input type="text" id="OriginCountry" name="OriginCountry" pInputText [(ngModel)]="newItem.originCountry">
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="DestinationCountry">Destination Country</label>
            <input type="text" id="DestinationCountry" name="DestinationCountry" pInputText
                [(ngModel)]="newItem.destinationCountry">
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="Warehouse">Warehouse</label>
            <input type="text" id="Warehouse" name="Warehouse" pInputText [(ngModel)]="newItem.warehouse">
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="TimeOfArrival">Time of Arrival</label>
            <input type="text" id="TimeOfArrival" name="TimeOfArrival" pInputText [(ngModel)]="newItem.timeOfArrival">
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="CurrentLocation">Current Location</label>
            <input type="text" id="CurrentLocation" name="CurrentLocation" pInputText
                [(ngModel)]="newItem.currentLocation">
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="Incoterm">Incoterm</label>
            <input type="text" id="Incoterm" name="Incoterm" pInputText [(ngModel)]="newItem.incoterm">
        </div>
    </div>

    <div class="p-col-12 p-md-4">
        <div class="flex flex-column gap-2 p-1">
            <label for="ContainerNumber">Container Number</label>
            <input type="text" id="ContainerNumber" name="ContainerNumber" pInputText
                [(ngModel)]="newItem.containerNumber">
        </div>
    </div>
</div>