<!-- <p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="card">
<p-table 
        [value]="articles" 
        sortField="articles.model" 
        sortMode="single" 
        dataKey="id"
        rowGroupMode="subheader" 
        groupRowsBy="articles.model" [tableStyle]="{'min-width': '50rem'}" editMode="row" >
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton type="button" icon="pi pi-arrow-left" label="Back" class="mr-2" pTooltip="Back to Inventory"
                (click)="backToInventory()" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file" class="mr-2" pTooltip="CSV"
                tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" class="p-button-warning mr-2" pTooltip="PDF"
                tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-plus" label="New item" class="p-button-info ml-auto"
                pTooltip="Add product" tooltipPosition="bottom" (click)="openDialog()"></button>
    
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th [hidden]="true">ID</th>
            <th>Model</th>
            <th>Sales Sample</th>
            <th>Tracking Number</th>
            <th>Warrant</th>
            <th>Origin Country</th>
            <th>Destination Country</th>
            <th>Warehouse</th>
            <th>Time of Arrival</th>
            <th>Current Location</th>
            <th>Incoterm</th>
            <th>Container Number</th>
            <th>SKU</th>
            <th>Description</th>
            <th>QtyGross</th>
            <th>QtyNet</th>
            <th>Available</th>
            <th>Reserved</th>
            <th>Potential Buyer</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="groupheader" let-article let-rowIndex="rowIndex" let-expanded="expanded">
        <tr>
            <td colspan="5">
                <button type="button" pButton pRipple [pRowToggler]="article"
                    class="p-button-text p-button-rounded p-button-plain mr-2"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                <span class="font-bold ml-2">{{article.model}}</span>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-article let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="article">
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.model">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.model}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.salesSample">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.salesSample}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.sourcingTrackingNumber">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.sourcingTrackingNumber}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.warrant">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.warrant}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.originCountry">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.originCountry}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.destinationCountry">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.destinationCountry}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.Warehouse">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.Warehouse}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.timeOfArrival">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.timeOfArrival}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.currentLocation">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.currentLocation}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.incoterm">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.incoterm}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.containerNumber">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.containerNumber}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.sku">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.sku}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.description">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.description}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.qtyGross">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.qtyGross}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.qtyNet">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.qtyNet}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.available">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.available}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.reserved">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.reserved}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="article.potentialBuyer">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{article.potentialBuyer}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                        (click)="onRowEditInit(article)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onRowEditSave(article)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onRowEditCancel(article, ri, $event)" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>
 -->




<div class="surface-card p-4 shadow-8 border-round">
    <p-table 
        id="htmlData"
        [value]="articles" 
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 20]"
        #dt2
        dataKey="id" 
        editMode="row" 
        [exportHeader]="'customExportHeader'"
>
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton type="button" icon="pi pi-arrow-left" label="Back" class="mr-2" pTooltip="Back to Inventory" (click)="backToInventory()" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf"  class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-plus" label="New item" class="p-button-info ml-auto" pTooltip="Add product" tooltipPosition="bottom" (click)="openDialog()"></button>

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th [hidden]="true">ID</th>
            <th>Model</th>
            <th>Sales Sample</th>
            <th>Tracking Number</th>
            <th>Warrant</th>
            <th>Origin Country</th>
            <th>Destination Country</th>
            <th>Warehouse</th>
            <th>Time of Arrival</th>
            <th>Current Location</th>
            <th>Incoterm</th>
            <th>Container Number</th>
            <th>SKU</th>
            <th>Description</th>
            <th>QtyGross</th>
            <th>QtyNet</th>
            <th>Available</th>
            <th>Reserved</th>
            <th>Potential Buyer</th>
            <th>Actions</th>
        </tr>
    </ng-template>

    
    <!-- Reservas por articulo -->
    <ng-template pTemplate="rowexpansion" let-expanded="expanded" let-article>
        <!-- Utiliza *ngIf para verificar si hay datos -->
        <tr *ngIf="article.articuloDetalles && article.articuloDetalles.length > 0">
            <td></td>
            <td colspan="18">
                <table class="expanded-table">
                    <tr>
                        <th>Potential Buyer:</th>
                    </tr>
                    <tr>
                        <td>{{article.articuloDetalles[0].potentialBuyer}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </ng-template>



    <ng-template pTemplate="body" let-articles let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="articles">
            <td>
                <button type="button" pButton pRipple [pRowToggler]="articles"
                    class="p-button-text p-button-rounded p-button-plain mr-2"
                    [icon]="dt2.isRowExpanded(articles) ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.model">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.model}}
                    </ng-template>
                </p-cellEditor>
                
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.salesSample">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.salesSample}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.sourcingTrackingNumber">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.sourcingTrackingNumber}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.warrant">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.warrant}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.originCountry">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.originCountry}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.destinationCountry">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.destinationCountry}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.warehouse">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.warehouse}}
                    </ng-template>
                </p-cellEditor>                
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.timeOfArrival">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.timeOfArrival | date: 'yyyy-MM-dd'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.currentLocation">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.currentLocation}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.incoterm">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.incoterm}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.containerNumber">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.containerNumber}}
                    </ng-template>
                </p-cellEditor>
            </td>
            
            
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input" >
                        <input pInputText type="text" [(ngModel)]="articles.sku">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.sku}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.Description">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.Description}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.QtyGross">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.QtyGross}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.QtyNet">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.QtyNet}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.Available">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.Available}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.Reserved">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.Reserved}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.PotentialBuyer">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.PotentialBuyer}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                        (click)="onRowEditInit(articles)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onRowEditSave(articles)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onRowEditCancel(articles, ri, $event)" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>