

<div class="surface-card p-4 shadow-8 border-round">
    <p-table 
        [value]="articles" 
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        #dt2
        dataKey="id" 
        editMode="row" 
        [styleClass]="sizes[0].class"
        [exportHeader]="'customExportHeader'"
>
    <ng-template pTemplate="caption">
        <div class="flex">
            <button pButton type="button" icon="pi pi-arrow-left" label="Back" class="mr-2" pTooltip="Back to Inventory" (click)="backToInventory()" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file" class="mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-file-pdf"  class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
            <button type="button" pButton pRipple icon="pi pi-filter" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom"></button>

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th [hidden]="true">ID</th>
            <th>Model</th>
            <th>Sales Sample</th>
            <th>Tracking Number</th>
            <th>Warrant</th>
            <th>Origin Country</th>
            <th>Destination Country</th>
            <th>Warehouse</th>
            <th>Time of Arrival</th>
            <th>Current Location</th>
            <th>Incoterm</th>
            <th>Container Number</th>
            <th>Actions</th>
        </tr>
        <!-- <tr>
            <th>
                <p-columnFilter type="text" field="model"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="salesSample"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="sourcingTrackingNumber"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="warrant"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="originCountry"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="destinationCountry"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="warehouse"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="timeOfArrival"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="currentLocation"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="incoterm"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="containerNumber"></p-columnFilter>
            </th>
            <th></th>    
        </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-articles let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="articles">
            
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.model">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.model}}
                    </ng-template>
                </p-cellEditor>
                
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.salesSample">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.salesSample}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.sourcingTrackingNumber">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.sourcingTrackingNumber}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.warrant">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.warrant}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.originCountry">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.originCountry}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.destinationCountry">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.destinationCountry}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.warehouse">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.warehouse}}
                    </ng-template>
                </p-cellEditor>                
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.timeOfArrival">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.timeOfArrival | date: 'yyyy-MM-dd'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.currentLocation">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.currentLocation}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.incoterm">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.incoterm}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="articles.containerNumber">
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{articles.containerNumber}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                        (click)="onRowEditInit(articles)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                        (click)="onRowEditSave(articles)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                        (click)="onRowEditCancel(articles, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
</div>
