:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-family);
    font-size: 12px;
}

h1 {
    margin-top: 0;
}

body,html {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-size: 12px;
}

.spinner-container {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* Asegura que el spinner esté encima de otros elementos */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo gris claro semitransparente */
    z-index: 9998;
    /* Colócalo detrás del spinner */
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* Asegura que el spinner esté encima del fondo gris claro */
}