<app-navbar></app-navbar>
<br>

<div class="surface-card p-4 shadow-8 border-round">
    <div class="card">
        <p-toast></p-toast>
        <p-table [value]="articles" selectionMode="single" [(selection)]="selectedArticle" dataKey="model"
            [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 20]" (onRowSelect)="onRowSelect($event)"
            (onRowUnselect)="onRowUnselect($event)">
            <ng-template pTemplate="caption">
                <h2>Reserved</h2>
                <div class="flex align-items-center justify-content-between">
                    <button pButton type="button" icon="pi pi-arrow-left" label="Back" class="mr-2"
                        pTooltip="Back to Inventory" (click)="backToInventory()" tooltipPosition="bottom"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 10%;"> <!-- Ancho fijo para la primera columna -->
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th style="width: 15%;">Model</th> <!-- Ancho fijo para las demás columnas -->
                    <th style="width: 15%;">Qty Gross</th>
                    <th style="width: 15%;">Qty Net</th>
                    <th style="width: 15%;">Available</th>
                    <th style="width: 15%;">Possible Buyer</th>
                    <th style="width: 15%;">Reservar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-article>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="article"></p-tableCheckbox>
                    </td>
                    <td>{{article.model}}</td>
                    <td>{{article.qtyGross}}</td>
                    <td>{{article.qtyNet}}</td>
                    <td>{{article.available}}</td>
                    <td>
                        <input type="text" pInputText [(ngModel)]="possibleBuyer" />
                    </td>
                    <td>
                        <p-inputNumber [disabled]="article.available == 0" inputId="integeronly"
                            [(ngModel)]="article.reserved" (ngModelChange)="onReservedChange(article)">
                        </p-inputNumber>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="7" style="text-align: right;">
                        <button type="button" pButton pRipple class="mr-2" (click)="onSave()">Reservar</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>